<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Simpsons</title>
    <style>
      .wrapper {
        display: flex;
        justify-content: center;
        gap: 1rem;
      }
      .cards {
        border: 3px double black;
        padding: 1rem;
      }
    </style>
  </head>
  <body>
    <h1>Simpson Family:</h1>
    <div class="wrapper">
      {% for character in characters %}
      <div class="cards">
        <p><b>Name:</b> {{character.name}} {{character.surname}}</p>
        <p><b>Email:</b> {{character.email}}</p>
        <p><b>Date:</b> {{character.born}}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
