{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'pythonapp/assets/icon.png' %}"
      type="image/x-icon"
    />
    {% block title %}
    <title>TODO</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'pythonapp/styles/index.css' %}" />
    <script src="{% static 'pythonapp/scripts/index.js' %}" defer></script>
  </head>
  <body>
    <!-- HEADER -->
    {% include 'pythonapp/components/header.html' %}
    <!-- END HEADER -->
    <!-- MAIN -->
    <main>
      {% block main %}
      <!-- Magic Happens Here -->
      {% endblock %}
    </main>
    <!--END MAIN  -->
    <!-- FOOTER -->
    {% include 'pythonapp/components/footer.html' %}
    <!-- END FOOTER -->
  </body>
</html>
